<div class="mt-3">
    <form>
    <div class="mb-3">
        <label for="search-input" class="form-label">Input Keyword</label>
        <input type="text" name="q" class="form-control" id="search-input" placeholder="Enter Keyword">
        
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>